---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=2&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_ZXmRrGWE6grWtUlQrKCFGadQ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103ZIE2osGI26Z414bLBJq3U",
          "livemode": false,
          "created": 1393428630,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103ZIE2osGI26Z41b0UWm6NU",
            "object": "card",
            "last4": "0002",
            "type": "Visa",
            "exp_month": 2,
            "exp_year": 2018,
            "fingerprint": "8oS1oT7GfgztISBm",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Wed, 26 Feb 2014 15:30:31 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103ZIE2osGI26Z414bLBJq3U&plan=base&email=moises.aufderhar%40rogahn.com
    headers:
      Authorization:
      - Bearer sk_test_ZXmRrGWE6grWtUlQrKCFGadQ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Wed, 26 Feb 2014 15:30:32 GMT
recorded_with: VCR 2.8.0
