---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=2&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_ZXmRrGWE6grWtUlQrKCFGadQ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103W0t2osGI26Z41eibE8XfU",
          "livemode": false,
          "created": 1392672205,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103W0t2osGI26Z41ZjbyZyZI",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 2,
            "exp_year": 2018,
            "fingerprint": "yYUTBmoos0c1k1j3",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Mon, 17 Feb 2014 21:23:25 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=400&currency=cad&card=tok_103W0t2osGI26Z41eibE8XfU&description=A%20valid%20Charge
    headers:
      Authorization:
      - Bearer sk_test_ZXmRrGWE6grWtUlQrKCFGadQ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_103W0t2osGI26Z41n1aWQdML",
          "object": "charge",
          "created": 1392672205,
          "livemode": false,
          "paid": true,
          "amount": 400,
          "currency": "cad",
          "refunded": false,
          "card": {
            "id": "card_103W0t2osGI26Z41ZjbyZyZI",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 2,
            "exp_year": 2018,
            "fingerprint": "yYUTBmoos0c1k1j3",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_103W0t2osGI26Z41AWPmaFn9",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "A valid Charge",
          "dispute": null,
          "metadata": {}
        }
  recorded_at: Mon, 17 Feb 2014 21:23:26 GMT
recorded_with: VCR 2.8.0
