


applica
tion.html.haml
%title 
      MyFLiX - 
      =yield(:title).blank? ? "a video on demand service" : yield(:title)

      #string doesn't work
      = yield(:title) ||  "a video on demand service"