---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=2&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_ZXmRrGWE6grWtUlQrKCFGadQ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103ZJ42osGI26Z41poS67x3s",
          "livemode": false,
          "created": 1393431797,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103ZJ42osGI26Z41gBxpQf8Z",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 2,
            "exp_year": 2018,
            "fingerprint": "yYUTBmoos0c1k1j3",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Wed, 26 Feb 2014 16:23:17 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103ZJ42osGI26Z41poS67x3s&plan=base&email=charity%40third.ray
    headers:
      Authorization:
      - Bearer sk_test_ZXmRrGWE6grWtUlQrKCFGadQ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1393431798,
          "id": "cus_3ZJ49XKyD3Em3L",
          "livemode": false,
          "description": null,
          "email": "charity@third.ray",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3ZJ49XKyD3Em3L/subscriptions",
            "data": [
              {
                "id": "sub_3ZJ439ODi1JNsL",
                "plan": {
                  "interval": "month",
                  "name": "base plan",
                  "created": 1393365261,
                  "amount": 999,
                  "currency": "cad",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {}
                },
                "object": "subscription",
                "start": 1393431798,
                "status": "active",
                "customer": "cus_3ZJ49XKyD3Em3L",
                "cancel_at_period_end": false,
                "current_period_start": 1393431798,
                "current_period_end": 1395850998,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "cad",
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3ZJ49XKyD3Em3L/cards",
            "data": [
              {
                "id": "card_103ZJ42osGI26Z41gBxpQf8Z",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 2,
                "exp_year": 2018,
                "fingerprint": "yYUTBmoos0c1k1j3",
                "customer": "cus_3ZJ49XKyD3Em3L",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_103ZJ42osGI26Z41gBxpQf8Z",
          "subscription": {
            "id": "sub_3ZJ439ODi1JNsL",
            "plan": {
              "interval": "month",
              "name": "base plan",
              "created": 1393365261,
              "amount": 999,
              "currency": "cad",
              "id": "base",
              "object": "plan",
              "livemode": false,
              "interval_count": 1,
              "trial_period_days": null,
              "metadata": {}
            },
            "object": "subscription",
            "start": 1393431798,
            "status": "active",
            "customer": "cus_3ZJ49XKyD3Em3L",
            "cancel_at_period_end": false,
            "current_period_start": 1393431798,
            "current_period_end": 1395850998,
            "ended_at": null,
            "trial_start": null,
            "trial_end": null,
            "canceled_at": null,
            "quantity": 1,
            "application_fee_percent": null,
            "discount": null
          }
        }
  recorded_at: Wed, 26 Feb 2014 16:23:18 GMT
recorded_with: VCR 2.8.0
