---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=cad&card=tok_103WST2osGI26Z41Xej2AKa8&description=subscription%20charge%20for%20a%40b.com
    headers:
      Authorization:
      - Bearer sk_test_ZXmRrGWE6grWtUlQrKCFGadQ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_103WST2osGI26Z41IP0AYPvK",
          "object": "charge",
          "created": 1392774830,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "cad",
          "refunded": false,
          "card": {
            "id": "card_103WST2osGI26Z41s8cHmah5",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 5,
            "exp_year": 2017,
            "fingerprint": "yYUTBmoos0c1k1j3",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_103WST2osGI26Z41ZwpdROXe",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "subscription charge for a@b.com",
          "dispute": null,
          "metadata": {}
        }
  recorded_at: Wed, 19 Feb 2014 01:53:50 GMT
recorded_with: VCR 2.8.0
