---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103ZJ12osGI26Z41V8Fla46O&plan=base&email=a%40b.com
    headers:
      Authorization:
      - Bearer sk_test_ZXmRrGWE6grWtUlQrKCFGadQ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1393431589,
          "id": "cus_3ZJ1SotY9WhHN1",
          "livemode": false,
          "description": null,
          "email": "a@b.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3ZJ1SotY9WhHN1/subscriptions",
            "data": [
              {
                "id": "sub_3ZJ1qoPVjuIf8x",
                "plan": {
                  "interval": "month",
                  "name": "base plan",
                  "created": 1393365261,
                  "amount": 999,
                  "currency": "cad",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {}
                },
                "object": "subscription",
                "start": 1393431589,
                "status": "active",
                "customer": "cus_3ZJ1SotY9WhHN1",
                "cancel_at_period_end": false,
                "current_period_start": 1393431589,
                "current_period_end": 1395850789,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "cad",
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3ZJ1SotY9WhHN1/cards",
            "data": [
              {
                "id": "card_103ZJ12osGI26Z41VqavpJiT",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 5,
                "exp_year": 2017,
                "fingerprint": "yYUTBmoos0c1k1j3",
                "customer": "cus_3ZJ1SotY9WhHN1",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_103ZJ12osGI26Z41VqavpJiT",
          "subscription": {
            "id": "sub_3ZJ1qoPVjuIf8x",
            "plan": {
              "interval": "month",
              "name": "base plan",
              "created": 1393365261,
              "amount": 999,
              "currency": "cad",
              "id": "base",
              "object": "plan",
              "livemode": false,
              "interval_count": 1,
              "trial_period_days": null,
              "metadata": {}
            },
            "object": "subscription",
            "start": 1393431589,
            "status": "active",
            "customer": "cus_3ZJ1SotY9WhHN1",
            "cancel_at_period_end": false,
            "current_period_start": 1393431589,
            "current_period_end": 1395850789,
            "ended_at": null,
            "trial_start": null,
            "trial_end": null,
            "canceled_at": null,
            "quantity": 1,
            "application_fee_percent": null,
            "discount": null
          }
        }
  recorded_at: Wed, 26 Feb 2014 16:19:50 GMT
recorded_with: VCR 2.8.0
