---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=2&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_ZXmRrGWE6grWtUlQrKCFGadQ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103WMw2osGI26Z41YHaNHv5D",
          "livemode": false,
          "created": 1392754237,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103WMw2osGI26Z41jjA8Fbt5",
            "object": "card",
            "last4": "0002",
            "type": "Visa",
            "exp_month": 2,
            "exp_year": 2018,
            "fingerprint": "8oS1oT7GfgztISBm",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Tue, 18 Feb 2014 20:10:37 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=400&currency=cad&card=tok_103WMw2osGI26Z41YHaNHv5D&description=A%20declined%20Charge
    headers:
      Authorization:
      - Bearer sk_test_ZXmRrGWE6grWtUlQrKCFGadQ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_103WMw2osGI26Z41MsRtXnoz"
          }
        }
  recorded_at: Tue, 18 Feb 2014 20:10:38 GMT
recorded_with: VCR 2.8.0
