---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_103YbP2E3uvvWEu3ve7Flrn6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_ZXmRrGWE6grWtUlQrKCFGadQ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such event: evt_103YbP2E3uvvWEu3ve7Flrn6",
            "param": "id"
          }
        }
  recorded_at: Thu, 27 Feb 2014 17:08:29 GMT
recorded_with: VCR 2.8.0
